@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: radial-gradient(#064b4b, #0b161f);
    height: 100vh;
    color: aliceblue;
}
header{
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    padding: 15px;
    background-color: #209e46;
}
h1{
    text-align: center;
    
    transition: 0.3s ease-in;
}
h1:hover{
    transform: scale(1.2);
}
#container{
    height: 600px;
    width: 600px;
    display: grid;
    margin: 20px auto;
    grid-template-columns: repeat(16,1fr);
    grid-template-rows: repeat(16,1fr);
    background-color: #fff;
    box-sizing: content-box;
    border:3px solid #209e46;
}

.content{
    
    background-color: #fff;
    border:1px solid #209e46;
    
    
}
/*boutons et inputs*/

.buttons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;

}

button{
    width: 160px;
    background-color: rgb(8, 157, 243);
    color: white;
    outline: none;
    border: none;
    box-shadow: 1px 1px 3px black;
    padding: 15px;
    border-radius: 15px;
    font-size: 25px;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

button:hover{
    transform: scale(1.2);
    background-color: white;
    color:rgb(8, 157, 243) ;
}
#colorpicker{
    width: 80px;
    height: 80px;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    box-shadow: 1px 1px 3px black;
    transition: all 0.3s ease-in-out;
}
#colorpicker:hover{
    transform: rotate(90deg) scale(1.1);
}
.sliderDiv{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
    width: 80px;
    height: 80px;
    border: none;
    outline: none;
    padding: 0;
    margin: 0;
    cursor: pointer;
}
/*footer*/
footer{
    position: fixed;
    bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    background-color: #209e46;
    height: 60px;
    width: 100%;
}
footer p{
    text-align: center;
}

footer span img{
    height: 25px;
    margin: 0 10px;
    transition: all 0.3s ease-in;
}

footer span img:hover{
    transform: scale(1.5) rotate(360deg);
}
footer a{
    text-decoration: none;
    transition: all 0.2s ease-in;
}
footer a:visited{
    color: #fff;
}
footer a:hover{
    color: #0b161f;
    transform: scale(1.2);
}